body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

#container{
    background-color: rgb(130, 248, 248);
    max-width: 400px;
    height: 450px;
    border: 0.5px solid black;
    margin-left: 430px;
    border-radius: 5%;
    padding-left: 35px;
    margin-top: 50px;
    
}

h1{
    text-align: center;
}
#_user{
    margin-top: 10px;
}

#_pass{
    margin-top: 15px;;
}
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 90%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover{
    background-color: blueviolet;
}